.idea/*
.eggs/*
.ipynb_checkpoints/*
example_figures/.ipynb_checkpoints/*
tutorials/.ipynb_checkpoints/*
sns_toolbox.egg-info/*
sns_toolbox/__pycache__/*
cuda-repo*
benchmarking/otherSoftware/annarchy/annarchy/*
